<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a  routerLink="/" class="navbar-brand">Instacats</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-left">
        <li><a  routerLink="add/" routerLinkActive="active">Add picture</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
          <li><a  routerLink="connect/" routerLinkActive="active">Connexion</a></li>
       </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
